.corpoHome{
    --background: #ffffff url("../../../assets/img/fundo-home.png") no-repeat center center / cover;
    text-align: center;
}

.corpoHome img{
    width: 60%;
    margin-top: 15%;
}

.linhaHome img{
    width: 98%;
}

h1{
    font-size: 2em;
    margin-top: 10px;
}

ion-row{
    margin-bottom: 30%;
}

ion-item{
    padding: 2% 5%;
}

ion-buttom{
    width: 90%;
    margin: 2% auto;
}

.loginItem{
    margin-top: 30%;
    padding-bottom: 5%;
}

.itemInput{
    opacity: .8;
    --background: #9f87bb;
}

.btn{
    color: #333;
}

.btnFundo{
    --background: #9f87bb;
}

.borda{
    --border-color: #9f87bb;
}