<ion-content class="corpoHome">
  <img src="../../../assets/img/logo.png" alt="Logo Kibeleza"/>

  <ion-row>
    <ion-col size="12"> 
      <h1> Seja Bem Vindo!! </h1>
      </ion-col>
  </ion-row>

  <ion-item class="loginItem intemInput">
    <ion-icon name="mail" color="primary" slot="start"></ion-icon>
    <ion-input type="email" placeholder="Email:" autofocus="true" inputmode="mail" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item class="itemInput">
    <ion-icon name="lock-closed" color="primary" slot="start"></ion-icon>
    <ion-input type="password" placeholder="Senha:" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-buttom class="btn btnfundo" expand="block">Entrar</ion-buttom>
  <ion-buttom class="btn borda" expand="block" fill="outline" href="/tabs/pg/cadastro">Cadastro</ion-buttom>

</ion-content>
