<ion-content class="corpoHome">
  <img src="../../../assets/img/logo.png" alt="Logo Kibeleza"/>

  <ion-row>
    <ion-col size="12"> 
      <h1> Seja Bem Vindo!! </h1>
      </ion-col>
  </ion-row>

<!-- <form [formGroup]="cadastro" (ngSubmit)="cadCliente()"> -->
  <form>

  <ion-item class="loginItem intemInput">
    <ion-icon name="person" color="primary" slot="start"></ion-icon>
    <ion-input type="text" placeholder="Nome:" autofocus="true" inputmode="text"></ion-input>
  </ion-item>

  <ion-item class="intemInput">
    <ion-icon name="mail" color="primary" slot="start"></ion-icon>
    <ion-input type="email" placeholder="Email:" autofocus="true" inputmode="mail"></ion-input>
  </ion-item>

  <ion-item class="itemInput">
    <ion-icon name="lock-closed" color="primary" slot="start"></ion-icon>
    <ion-input type="password" placeholder="Senha:" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-buttom type="submit" class="btn btnfundo" expand="block">Cadastro</ion-buttom>

</fom>


</ion-content>
