<ion-content class="corpoHome">
  <img src="../../../assets/img/logo.png" alt="Logo Kibeleza"/>

  <ion-row class="linhaHome">
    <ion-col size="6">
      <ion-tab-button tab="sobre">
        <img src="../../..//assets/img/btn_home.png" alt="Botão Sobre"/>
      </ion-tab-button>
    </ion-col>
    <ion-col size="6">
      <ion-tab-button tab="lista-servico">
        <img src="../../../assets/img/btn_home2.png" alt="Botão Sobre"/>
      </ion-tab-button>
    </ion-col>
  </ion-row>

  <ion-row class="linhaSlide">
    <ion-col size="12">

      <ion-slides>
        <ion-slide>
          <img src="../../../assets/img/banner.png" alt="Banner Kibeleza"/>
        </ion-slide>
        <ion-slide>
          <img src="../../../assets/img/banner.png" alt="Banner Kibeleza"/>
        </ion-slide>
        <ion-slide>
          <img src="../../../assets/img/banner.png" alt="Banner Kibeleza"/>
        </ion-slide>
      </ion-slides>

    </ion-col>
  </ion-row>

  <ion-row class="linhaRedes">
    <ion-col size="3">
      <img src="../../../assets/img/redes-sociais1.png" alt="Redes Kibeleza">
    </ion-col>
    <ion-col size="3">
      <img src="../../../assets/img/redes-sociais2.png" alt="Redes Kibeleza">
    </ion-col>
    <ion-col size="3">
      <img src="../../../assets/img/rede-sociais3.png" alt="Redes Kibeleza">
    </ion-col>
    <ion-col size="3">
      <img src="../../../assets/img/redes-sociais4.png" alt="Redes Kibeleza">
    </ion-col>

  </ion-row>

</ion-content>
