.corpoSobre{
    --background:#ffffff url("../../../assets/img/fundo-sobre.png") no-repeat center center / cover;
}

ion-toolbar{
    --background: #9f87bb;
}

ion-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-top: 10%;
    padding: 2% 0;
}