<ion-header>
  <ion-toolbar>
    <ion-title>Reserva - Serviço 01</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="corpoSobre">

  <ion-row class="linhaSlide">
    <ion-col size="12">

        <ion-slide>
          <img src="../../../assets/img/banner.png" alt="Banner Kibeleza"/>
        </ion-slide>
        <ion-slide>
          <img src="../../../assets/img/banner2.png" alt="Banner Kibeleza">
        </ion-slide>
        <iom-slide>
          <img src="../../../assets/img/banner.png" alt="Banner Kibeleza">
        </iom-slide>

    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <h1>Solicitar Agendamento</h1>
    </ion-col>
  </ion-row>

  <form>
  <ion-row>

      <ion-col size="12">
      <ion-item>
        <ion-label>Funcionário</ion-label>
        <ion-select placeholder="Selecione o funcionário" okText="Confirmar" cancelText="fechar">
          <ion-select-option value="f">Func 01</ion-select-option>
          <ion-select-option value="m">Func 02</ion-select-option>
          <ion-select-option value="m">Func 03</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-item>
        <ion-label>Dia e Hora</ion-label>
                      <ion-detetime displayFormat="DD MMM YYYY HH:mm" monthDhortNames="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro"
                      hourValues="08,09,10,11,14,15,16,17,18,19,20"
                      minuteValues="0,30"
                      doneText="Confirmar"
                      cancelText="fechar"></ion-detetime>
      </ion-item>
    </ion-col>

  </ion-row>
  </form>


  <ion-row>
    <ion-col size="12">
      <ion-buttom href="/tabs/pg/reserva" expand="block">Reserva</ion-buttom>
    </ion-col>
</ion-row>

</ion-content>
