.corpoSobre{
    --background:#ffffff url("../../../assets/img/fundo-detalhe.png") no-repeat center center / cover;
}

ion-toolbar{
    --background: #9f87bb;
}

ion-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 2% 0;
}

.corpoSobre{
    text-align: center;
}

.corpoSobre img{
    width: 60%;
    margin-top: 8%;
}

.corpoSobre p{
    font-size: .8em;
    text-align: justify;
    padding: 5%;
}

.linhaSlide img{
    width: 90%;
}

.linhaSlide ion-slide{
    margin-top: -25px;
}