<ion-header>
  <ion-toolbar>
    <ion-title>Serviços</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<!-- Searchbar in a Toolbar -->
<ion-toolbar class="pesquisa">
  <ion-searchbar></ion-searchbar>
</ion-toolbar>

<ion-row>
  <ion-col size="4">
    <img src="../../../assets/img/serviço1.png" alt="Servico Kibeleza">
  </ion-col>
  <ion-col size="8" class="servicoItem">
    <h2>Serviço 01</h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy 
      nibh euis Lorem ipsum dolor sit amet, consectetuer</p>
      <a href="/tabs/pg/detalhe" class="iconDetalhe">
        <ion-icon name="caret-forward-outline"></ion-icon>
      </a>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size="4">
    <img src="../../../assets/img/serviço2.png" alt="Servico Kibeleza">
  </ion-col>
  <ion-col size="8" class="servicoItem">
    <h2>Serviço 02</h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy 
      nibh euis Lorem ipsum dolor sit amet, consectetuer</p>
      <a href="/tabs/pg/detalhe" class="iconDetalhe">
        <ion-icon name="caret-forward-outline"></ion-icon>
      </a>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size="4">
    <img src="../../../assets/img/serviço3.png" alt="Servico Kibeleza">
  </ion-col>
  <ion-col size="8" class="servicoItem">
    <h2>Serviço 03</h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy 
      nibh euis Lorem ipsum dolor sit amet, consectetuer</p>
      <a href="/tabs/pg/detalhe" class="iconDetalhe">
        <ion-icon name="caret-forward-outline"></ion-icon>
      </a>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size="4">
    <img src="../../../assets/img/serviço4.png" alt="Servico Kibeleza">
  </ion-col>
  <ion-col size="8" class="servicoItem">
    <h2>Serviço 04</h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy 
      nibh euis Lorem ipsum dolor sit amet, consectetuer</p>
      <a href="/tabs/pg/detalhe" class="iconDetalhe">
        <ion-icon name="caret-forward-outline"></ion-icon>
      </a>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size="4">
    <img src="../../../assets/img/serviço5.png" alt="Servico Kibeleza">
  </ion-col>
  <ion-col size="8" class="servicoItem">
    <h2>Serviço 05</h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy 
      nibh euis Lorem ipsum dolor sit amet, consectetuer</p>
      <a href="/tabs/pg/detalhe" class="iconDetalhe">
        <ion-icon name="caret-forward-outline"></ion-icon>
      </a>
  </ion-col>
</ion-row>


</ion-content>
