ion-toolbar{
    --background: #9f87bb;
}

ion-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-top: 10%;
    padding: 2% 0;
}

.pesquisa{
    --background: #3d3d3f;
}

.sc-ion-searchbar-md-h {
    --backgound: #c7b8d8ad;
}

ion-row{
    background: #3d3d3f50;
}

ion-row:nth-child(even){
    background: #9f87bb50;
}

.servicoItem h2{
    margin-top: 0;
    color: #3d3d3f;
    font-size: 1.2em;
}

.servicoItem p{
    font-size: .6em;
}

.iconDetalhe{
    float: right;
    font-size: 1.5em;
    margin-top: -10px;
}