<ion-header>
  <ion-toolbar>
    <ion-title>sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="corpoSobre">
  <img src="../../../assets/img/logo.png" alt="Logo Kibeleza">

  <ion-row>
    <ion-col size="12">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type 
        specimen book. It has survived not only five centuries, but also the leap into 
        electronic typesetting, remaining essentially unchanged. It was popularised in 
        the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
        and more recently with desktop publishing software like Aldus PageMaker including 
        versions of Lorem Ipsum. </p>
    </ion-col>
  </ion-row>

  <ion-row class="linhaSlide">
    <ion-col size="12">

        <ion-slide>
          <img src="../../../assets/img/banner2.png" alt="Banner Kibeleza"/>
        </ion-slide>

    </ion-col>
  </ion-row>

  <ion-row class="linhaRedes">
    <ion-col size="3">
      <img src="../../../assets/img/redes-sociais1.png" alt="Redes Kibeleza">
    </ion-col>
    <ion-col size="3">
      <img src="../../../assets/img/redes-sociais2.png" alt="Redes Kibeleza">
    </ion-col>
    <ion-col size="3">
      <img src="../../../assets/img/rede-sociais3.png" alt="Redes Kibeleza">
    </ion-col>
    <ion-col size="3">
      <img src="../../../assets/img/redes-sociais4.png" alt="Redes Kibeleza">
    </ion-col>

  </ion-row>

</ion-content>
